<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>i am pro level django dev</h1>
    <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, fuga! Labore adipisci magni aspernatur ea consequuntur sint deserunt provident cum excepturi, totam inventore hic nihil amet. Perspiciatis fugiat dolorem provident.</p>


    </body>
</html>